.input_restaurant{
    margin: 10px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.search_block{
    display: flex;
}
.filter{
    width: 150px;
}
.restaurant_image{
    width: 100px;
}